:root {
  --logo-green-1: #2AB956;
  --grad-green-1: #249b8c;
  --logo-green-2: #74DD66;
  --grad-green-3: #00ad97;
  --grad-green-4: #088373;
  --white-main: #f1f1f1;
  --black-main: #2d2d2d;
  --paragraph-1: 16px;
  --paragraph-2: 20px;
  --h1: 110px;
  --h3: 27px;
  --h2: 43px;
  --h4: 20px;
  --h6-before-line: 80px;
}

body {
  overflow-x: hidden;
}

.spacer-1 {
  padding-bottom: 48%;
}

h1 {
  font-size: var(--h1);
  line-height: 1;
  font-family: 'Oswald';
  font-weight: 700;
}

h3 {
  font-size: var(--h3);
}

h2 {
  font-size: var(--h2);
  font-family: 'Oswald';
  font-weight: 700;
}

/* utils */

.inner-shadow {
  /*position: relative;*/
  /*isolation: isolate;*/
}

.inner-shadow::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
  background-image: -webkit-linear-gradient( 180deg, transparent 0%, var(--shadow-color) 40%, var(--shadow-color) 70%, transparent 100%);
  background-image: linear-gradient( 180deg, transparent 0%, var(--shadow-color) 40%, var(--shadow-color) 70%, transparent 100%);
  z-index: -1;
}

.curved-connector, .gradient-background {
  position: relative;
  isolation: isolate;
}

.gradient-background::before, .curved-connector::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.gradient-background::before {
  top: 0;
  height: 100%;
  background-image: -webkit-linear-gradient( 180deg, var(--grad-start) 51%, var(--grad-end) 100%);
  background-image: linear-gradient( 180deg, var(--grad-start) 51%, var(--grad-end) 100%);
  position: absolute;
  z-index: -1;
}

.curved-connector::after {
  width: 120%;
  height: 200px;
  border-radius: 0% 0% 50% 50%;
  left: 50%;
  bottom: 0;
  background-color: var(--grad-end);
  z-index: -2;
  transform: translate(-50%, 50%);
}

[class*="overlay-"] {
  isolation: isolate;
  position: relative;
}

[class*="overlay-"]::after {
  content: "";
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.overlay-50::after {
  opacity: 0.5;
}

/* navbar */

.navbar-brand {
  max-width: 250px;
}

#mainNav.navbar-shrink svg .st2 {
  stroke: #fff;
}

@media (max-width: 991px) {
  #mainNav svg .st2 {
    stroke: #fff;
  }
}

/* cover */

#cover {
  --grad-start: var(--grad-green-3);
  --grad-end: var(--grad-green-4);
  z-index: 1;
}

.cover-row {
  --shadow-color: var(--grad-green-3);
}

.gradient-circle {
  position: relative;
  isolation: isolate;
  z-index: 50;
}

@media (min-width: 768px) {
  .gradient-circle {
    min-height: 600px;
  }
}

.gradient-circle::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 0;
  padding: 50em;
  border-radius: 50%;
  background-image: -webkit-linear-gradient( 137deg, var(--grad-green-1) 51%, var(--logo-green-1) 100%);
  background-image: linear-gradient( 137deg, var(--grad-green-1) 51%, var(--logo-green-1) 100%);
  right: 0;
  top: 0;
  transform: translate(-10%,-30%);
  z-index: -1;
}

@media (min-width: 768px) {
  .gradient-circle img {
    margin-right: -100px;
    width: 450px;
  }
}

.cover-h3-1 {
  letter-spacing: 9px;
  text-indent: 7px;
}

.heading-one {
  z-index: 10;
}

.cover-image {
  max-width: 410px;
}

/* section 1 */

.white-circle-wrapper {
  min-height: 250px;
}

.white-circle {
  width: 50%;
  isolation: isolate;
  position: relative;
}

@media (min-width: 768px) {
  .white-circle {
    width: 80%;
  }
}

.white-circle h3 {
  color: var(--black-main);
  font-size: 1.2rem;
}

.white-circle h2 {
  color: var(--logo-green-1);
  font-size: 1.3rem;
}

.white-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  background-color: var(--white-main);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: -1;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 2px 34px;
}

.dentist-svg-wrapper {
  min-height: 350px;
}

